@font-face {
	font-family: "main";
	src: url("Michroma-Regular.ttf")format("truetype");
}

/* @font-face {
	font-family: "m";
	src: url("magnetob.ttf")format("truetype");
}

@font-face {
	font-family: "gtr";
	src: url("good\ times\ rg.ttf")format("truetype");
}

@font-face {
	font-family: "gothic";
	src: url("DidactGothic-Regular.ttf")format("truetype");
} */